{% extends "ui-kit/chatbot_layout.html" %}

{% block head %}{{ super() }}
    <link rel="stylesheet" href="{{ url_for('recommendations.static', filename='recommendation.css') }}">
    <link rel="stylesheet" href="../recommendations/static/highlight/styles/ascetic.css">
{% endblock %}

{% block title %}Recommendations in Chatbot{% endblock %}

{% block description %}Recommend items for user via Chatbot{% endblock %}

{% block input_placeholder_text %}{{ super() }}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="../recommendations/static/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ url_for('recommendations.static', filename='recommendation.js') }}"></script>
{% endblock %}
